<!-- Page Content -->
<div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Sponsor a Community</h1>
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="index.html">Home</a>
       </li>
       <li class="breadcrumb-item active">Sponsor a Community</li>
     </ol>
     
	<!-- Donation Content -->
	<div class="page-content">
		<section class="s-donation-form intro stc-form js-donation-form loaded">
			<div class="donate-container donate-monthly-bg">
				<div class="grid-wrapper">
					<div class="donation-content">
						<h2>Change a life forever</h2>
						<p>Save the Children are on the frontline delivering
							life-saving aid and development programs, and making sure children
							can be children, wherever they are. Your gift ensures we can
							positively impact children in need - now and in the future.</p>
					</div>
	
					<div class="EditingFormTable">
						<div class="js-donate" data-donation-recurring="monthly donation"
							data-donation-single="single donation" data-max-donate="50000"
							data-min-donate="10" data-cost-per-child="2">
							
							<div class="donate-frequency">
								<div class="donation-content"><h2> Enter an amount to give</h2></div>
							</div>
							
							<div class="donate-frequency">
									<input #donationAmount id="{{donationAmount}}" class="btn-large" placeholder="$">
							</div>
						</div>
					</div>
	
					<div class="submit-button-wrapper ">
						<div class="EditingFormButtonCell">
							<input
								name="giveOnceBtn"
								class="btn btn-large btn-primary btn-full-width"
								id="giveOnceBtn"
								type="submit" value="Donate Now" (click)="openPaymentScreen(donationAmount.value) ">
						</div>
						<br>
					</div>
					
				</div>
			</div>
		</section>
	</div>

	<div data-related="form-0">
		<section class="cw-text-block">
			<div class="container">
				<div class="row">
					<div class="cw-text-block-content">
						    Save the Children are on the frontline delivering
							life-saving aid, development programs and making sure that kids
							can be kids, wherever they are. Your gift ensures we can
							positively impact children in need both now and in the future.
							Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur. Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						citationem consequuntur. 
						<br> <br>
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur.
						<br>
					</div>
					<div>
						<h3>You can also:</h3>

						<ul>
							<li>Make a donation 
								<a class=""  routerLink="/app-giveonce">here</a>
							</li>
							<li>Raise fund on memory of a loved one 
								<a class="" routerLink="/app-email">here</a>
							</li>
						</ul>

					</div>
					
					
				</div>
			</div>
		</section>
	</div>

<!-- Marketing Icons Section -->
	<div class="row">
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardpink">Card Title</h4>
				<div class="card-body body-bg-pink">
					Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Sapiente esse necessitatibus neque.
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardgreen">Card Title</h4>
				<div class="card-body body-bg-green">
					Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur.
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardblue">Card Title</h4>
				<div class="card-body body-bg-blue cw-text-block-content">
					Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Sapiente esse necessitatibus neque.
				</div>
				
			</div>
		</div>
	</div>


	
</div>
<!-- /.container -->



