<!-- Page Content -->
<div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Give Monthly</h1>
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="index.html">Home</a>
       </li>
       <li class="breadcrumb-item active">Give Monthly</li>
     </ol>
     
	<!-- Donation Content -->
	<div class="page-content">
		<section class="s-donation-form intro stc-form js-donation-form loaded">
			<div class="donate-container donate-monthly-bg">
				<div class="grid-wrapper">
					<div class="donation-content">
						<h2>Change a life forever</h2>
						<p>Save the Children are on the frontline delivering
							life-saving aid and development programs, and making sure children
							can be children, wherever they are. Your gift ensures we can
							positively impact children in need - now and in the future.</p>
					</div>
	
					<div class="EditingFormTable">
						<div class="js-donate" data-donation-recurring="monthly donation"
							data-donation-single="single donation" data-max-donate="50000"
							data-min-donate="10" data-cost-per-child="2">
							<div class="donate-msg has-msg">
								<p class="donate-message-selected">$75 could buy aid kits for
									two health workers.</p>
							</div>
							<div class="donate-frequency">
								<div tabindex="0" class="donate-option btn selected" data-freq="Single">Donate Monthly</div>
							</div>
							<div class="donate-amounts">
								<div tabindex="0" class="donate-option btn selected" >
									$50
								</div>
	
								<div tabindex="1" class="donate-option btn  ">
									$75
								</div>
	
								<div tabindex="2" class="donate-option btn btn-bg">
									$120
								</div>
	
								<div tabindex="3" class="donate-option btn btn-bg">
									$150
								</div>
	
								<div class="donate-amount-input" >
									<input type="number" step="1" placeholder="$ Other">
								</div>
							</div>
						</div>
					</div>
	
					<div class="submit-button-wrapper ">
						<div class="EditingFormButtonLeftCell"></div>
						<div class="EditingFormButtonCell">
							<input
								name="p$lt$ctl00$plcPageContentZone$lt$ctl00$zoneContent$STC_Control_DonationForm$ctl01$hlNext"
								class="FormButton btn btn-large btn-primary btn-full-width js-donate-btn js-form-validate"
								id="p_lt_ctl00_plcPageContentZone_lt_ctl00_zoneContent_STC_Control_DonationForm_ctl01_hlNext"
								type="submit" value="Donate Now">
							
						</div>
						<br>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div data-related="form-0">
		<section class="cw-text-block">
			<div class="container">
				<div class="row">
					<div class="cw-text-block-content">
						<p>Save the Children are on the frontline delivering
							life-saving aid, development programs and making sure that kids
							can be kids, wherever they are. Your gift ensures we can
							positively impact children in need both now and in the future.</p>

						<h3>You can also:</h3>

						<ul>
							<li>Make a regular donation <a
								href="/Donate/Monthlydonation">here</a></li>
							<li>Make a donation in memory of a loved one <a
								href="/Donate/Gifts-in-Memory">here</a></li>
							<li>Make a donation in celebration of a special occasion <a
								href="/Donate/Gifts-in-Celebration">here</a></li>
						</ul>

					</div>
				</div>
			</div>
		</section>
	</div>

</div>

