<!-- Footer -->
	<div class="container-fluid" id="sitemap">
		<div class="row">
			<div class="social col-xs-12 col-sm-8">
				<span class="hidden-xs"><strong>FOLLOW US </strong></span> 
 
				<a href="https://plus.google.com/100174227235393437022" target="_blank">
					<i class="fa fa-instagram" style="font-size:24px;color:white"></i>
				</a>
				<a href="https://plus.google.com/100174227235393437022" target="_blank">	
					<i class="fa fa-linkedin-square" style="font-size:24px;color:white"></i>
				</a>
				<a href="https://twitter.com/ng_templates" target="_blank">
					<i class="fa fa-twitter" style="font-size:24px;color:white"></i>
				</a> 
				<a href="https://www.facebook.com/angulartemplates" target="_blank">
					<i class="fa fa-facebook-square" style="font-size:24px;color:white"></i>
				</a> 
				<a href="https://www.youtube.com/channel/" target="_blank">
					<i class="fa fa-youtube-square" style="font-size:24px;color:white"></i>
				</a>
			</div>
			<div class="social col-xs-13 col-sm-4">
				<span class="hidden-xs" align="right">CALL US TO DONATE 1800 06 00 12</span>
			</div>
			
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae 
				veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-xs-12 col-sm-3">
				<span class="hidden-xs">GET TO KNOW US</span>
				<ul itemscope=""
					itemtype="http://www.schema.org/SiteNavigationElement">
					<li itemprop="name"><a itemprop="url" routerLink="/app-ourwork">OUR WORK</a></li>
					<li><a itemprop="url" routerLink="/app-aboutus">MEET OUR STAFF</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="hidden-xs">CONNECT</span>
				<ul>
					<li><a routerLink="/app-contactus">CONTACT US</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="hidden-xs">GET INVOLVED</span>
				<ul>
					<li><a routerLink="/app-learntofundraise">VOLUNTEER</a></li>
					<li><a routerLink="/app-giveonce">DONATE</a></li>
				</ul>
			</div>
		</div>
	</div>

<footer class="container-fluid" id="footer">
  <div class="row">
    <div class="copyright-msg col-xs-12 col-sm-4">
      <i class="fa fa-copyright" style="font-size:24px"></i><span>&#169;</span>
      <a class="startapplabs-link" href="#" target="_blank" rel="nofollow noopener noreferrer">company name 2018</a>
    </div>
  </div>
</footer>



