<!-- Page Content -->
<div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Start a Campaign</h1>
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="index.html">Home</a>
       </li>
       <li class="breadcrumb-item active">Start a Campaign</li>
     </ol>




  <mat-form-field>
    <input matInput placeholder="Give your campaign a name">
  </mat-form-field>
<br>
  <mat-form-field>
    <input matInput type="number"  placeholder="Campaign Goal">
  </mat-form-field>
  <br>
<button mat-button>Create Campaign</button>
</div>