 <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../../assets/new-pic1.jpg')">
				<div class=".content-wrapper slidetext2">
					<h2 class="h40">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit Itaque earum nostrum.</span>
					</h2>
					<p class="p30 pt-2 pb-2">vero rerum deleniti beatae veniam harum 
					neque nemo praesentium cum aliasomnis doloremque non cum id reprehenderit, 
					quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. 
					Reiciendis quia dolorum ducimus unde..</p>
				</div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('../../assets/homepagetopslider2.jpg')">
				<div class=".content-wrapper slidetext1">
					<h2 class="h40">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit Itaque earum nostrum.</span>
					</h2>
					<p class="p30 pt-2 pb-2">vero rerum deleniti beatae veniam harum 
					neque nemo praesentium cum aliasomnis doloremque non cum id reprehenderit, 
					quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. 
					Reiciendis quia dolorum ducimus unde..</p>
				</div>
				
			</div>
			<!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../../assets/homepagetopslider3.jpg')">
            <div class=".content-wrapper slidetext1">
					<h2 class="h40">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit Itaque earum nostrum.</span>
					</h2>
					<p class="p30 pt-2 pb-2">vero rerum deleniti beatae veniam harum 
					neque nemo praesentium cum aliasomnis doloremque non cum id reprehenderit, 
					quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. 
					Reiciendis quia dolorum ducimus unde..</p>
				</div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    
    <!-- Page Content -->
    <div class="container">

      <h2 class="my-4">Building a better world for and with children</h2>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardindigo card-text-cl">Featured News</h4>
            <div class="card-body body-bg-indigo">
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer cardgrey card-text-cl">
              <a routerLink="/app-ourwork" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardblue card-text-cl">Fundraise</h4>
            <div class="card-body body-bg-blue">
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer cardgrey card-text-cl">
              <a routerLink="/app-learntofundraise" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardteal card-text-cl">Donate Now</h4>
            <div class="card-body body-bg-teal">
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer cardgrey card-text-cl">
              <a routerLink="/app-giveonce" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>LETS BUILD SOMETHING INCREDIABLE</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardblue">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage1.jpg" alt=""></a>
            <div class="card-body card-text-cl">
              <h4 class="card-title"><a routerLink="/app-summercamps" class="card-title-text"><strong>Summer Camps</strong></a> 
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardpurple">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage2.jpg" alt=""></a>
            <div class="card-body card-text-cl">
              <h4 class="card-title">
                <a routerLink="/app-sustainableschoolsproject" class="card-title-text">Sustainable Schools Project </a>
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardgreen">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage3.jpg" alt=""></a>
            <div class="card-body card-text-cl">
              <h4 class="card-title">
                <a routerLink="/app-givecleanwater" class="card-title-text">Give Clean Water </a>
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardorange card-text-cl">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage4.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink="/app-project4" class="card-title-text">Project Four</a>
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardred card-text-cl">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage5.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink="/app-cleanenergyrequirement" class="card-title-text">Clean Energy Requirement</a>
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 cardyellow card-text-cl">
            <a href="#"><img class="card-img-top" src="../../assets/cardimage6.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink="/app-project6" class="card-title-text">Project Six</a>
              </h4>
              <p class="card-text card-text-cl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

<!-- Second Main section -->

	<header>
     <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../../assets/homepagebottomslider.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>CHILDREN NEED SUPPORT MORE THAN EVER</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde.</p>
            </div>
          </div>
	</header>
	<br>          
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>OUR STORIES</h2>
          <p>Laorem noesm walkies adispose conesqwswa scjusoirt lksiensm:</p>
          <ul>
            <li>ipsum</li>
            <li>Kuiensma skdjoien</li>
            <li>Cororpesams</li>
            <li>potaatoesns neenimas siokuos</li>
            <li>cholaloto aend saksemnsi pikaachu bachun ka sachu</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <iframe width="620" height="315" [src]="videoUrl" frameborder="1" allowfullscreen></iframe>
        </div>
      </div>

      <!-- Call to Action Section -->
      <div class="row mb-4"> 
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-2">
          <a class="btn-sm btn-secondary btn-block btn" href="#">LEARN MORE</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

<!--  Subscribe -->
	<div class="newsletter container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<span class="hidden-xs">Sign up to our Special Newsletter!</span>
			</div>
			<form #subscribe = "ngForm" (ngSubmit) = "subscriptionEmail(subscribe.value)" >
				<div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-0 col-xs-10">
					<input name="subscriptionEmailId" placeholder="@MAIL" type="email" ngModel>
				</div>
				<div class="col-xs-12 col-sm-2">
					<button type="submit" class="button-red btn btn-primary">SUBSCRIBE</button>
				</div>
			</form>
		</div>
	</div>
	
	
	