
	
		
		
		
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active"
				style="background-image: url('../../assets/mainpage-image1.jpg')">
				<div class=".content-wrapper slidetext1">
					<h2 class="h40">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing
							elit Itaque earum nostrum.</span>
					</h2>
					<p class="p30 pt-2 pb-2">vero rerum deleniti beatae veniam
						harum neque nemo praesentium cum aliasomnis doloremque non cum id
						reprehenderit, quisquam totam aspernatur tempora minima unde
						aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde..</p>
				</div>
			</div>
		
		
		
		<br>
		
		<!-- Slide two - Set the background image for this slide in the line below -->
			<div class="carousel-item active"
				style="background-image: url('../../assets/mainpage-image2.jpg')">
				<div class=".content-wrapper slidetext1">
					<h2 class="h40">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing
							elit Itaque earum nostrum.</span>
					</h2>
					<p class="p30 pt-2 pb-2">vero rerum deleniti beatae veniam
						harum neque nemo praesentium cum aliasomnis doloremque non cum id
						reprehenderit, quisquam totam aspernatur tempora minima unde
						aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde..</p>
				</div>
			</div>
	 
	 <br>
	 
	  <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardpink card-text-cl">Card Title</h4>
            <div class="card-body card-body-bg">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer cardgrey">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardteal card-text-cl">Card Title</h4>
            <div class="card-body card-body-bg">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer cardgrey">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header cardcyan">Card Title</h4>
            <div class="card-body card-body-bg">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer cardgrey">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

