<div class="wrapper">
	<div class="ltf-container fundraise-page" data-behavior="FundraisePage">
		<section class="section-campaigning part-1 home-section">
			<div>
				<h3>Starting a campaign is easy.</h3>

				<div class="inner">
					<span class="step-name">Step 1</span>
					
					<h4>See that 663 million people don't have clean water, and decide to help.</h4>

					<div class="cw-text-block-content" style="width:360px;height:250px">
						It only takes a minute to set up a campaign. 
						Decide what to do. Pick a name. Pick a photo. And just like that, you'll be ready
						to start raising money to help build projects for
						people in need.
					</div>
					<div class="phone phone-1">
						<span class="phone-screenshot-image phone-1-screenshot"></span>
					</div>
					<div class="cw-text-block-content" style="width:980px;height:250px">
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga. <br>
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga.
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="ltf-container fundraise-page" data-behavior="FundraisePage">

		<section class="section-campaigning part-2 home-section">
			<div>
				<h3>Starting a campaign is easy.</h3>

				<div class="inner">
					<span class="step-name">Step 2</span>
					<div style="width:360px;height:96px">
					<h4>See that 663 million people don't have clean water, and decide to help.</h4>
					</div>
					<br>
					<div class="cw-text-block-content" style="width:360px;height:250px">
						It only takes a minute to set up a campaign. 
						Decide what to do. Pick a name. Pick a photo. And just like that, you'll be ready
						to start raising money to help build projects for
						people in need.
					</div>
					<div class="phone phone-1">
						<span class="phone-screenshot-image phone-2-screenshot"></span>
					</div>
					<div class="cw-text-block-content">
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga. <br>
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga.
					</div>
				</div>
			</div>
		</section>




<div class="ltf-container fundraise-page" data-behavior="FundraisePage">

		<section class="section-campaigning part-3 home-section">
			<div>
				<h3>Starting a campaign is easy.</h3>

				<div class="inner">
					<span class="step-name">Step 2</span>
					<div style="width:360px;height:96px">
					<h4>See that 663 million people don't have clean water, and decide to help.</h4>
					</div>
					<br>
					<div class="cw-text-block-content" style="width:360px;height:250px">
						It only takes a minute to set up a campaign. 
						Decide what to do. Pick a name. Pick a photo. And just like that, you'll be ready
						to start raising money to help build projects for
						people in need.
					</div>
					<div class="phone phone-1">
						<span class="phone-screenshot-image phone-3-screenshot"></span>
					</div>
					<div class="cw-text-block-content">
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga. <br>
						Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga.
					</div>
				</div>
			</div>
		</section>

	</div>

</div>





