<div class="wrapper">

	<div class="ltf-container fundraise-page" data-behavior="FundraisePage">

		<section class="section-campaigning part-1 home-section">

			<div class="skrollable skrollable-before" style="opacity: 1;"
				data-top="opacity: 1" data-center-bottom="opacity: 0">

				<h3>Starting a campaign is&nbsp;easy.</h3>

				<div class="inner">

					<span class="step-name">Step 1</span>

					<h4>See that 663 million people don’t have clean water, and

						decide to&nbsp;help.</h4>

					<p>It only takes a minute to set up a campaign. Decide what to

						do. Pick a name. Pick a photo. And just like that, you’ll be ready
						to start raising money to help build clean water projects for
						people in&nbsp;need.</p>

					<div class="phone phone-1">

						<span class="phone-screenshot-image phone-1-screenshot"></span>

					</div>

				</div>

			</div>

		</section>

	</div>

<div class="ltf-container fundraise-page" data-behavior="FundraisePage">

		<section class="section-campaigning part-2 home-section">

			<div class="skrollable skrollable-before" style="opacity: 1;"
				data-top="opacity: 1" data-center-bottom="opacity: 0">

				<h3>Starting a campaign is&nbsp;easy.</h3>

				<div class="inner">

					<span class="step-name">Step 2</span>

					<h4>See that 663 million people don’t have clean water, and

						decide to&nbsp;help.</h4>

					<p>It only takes a minute to set up a campaign. Decide what to

						do. Pick a name. Pick a photo. And just like that, you’ll be ready
						to start raising money to help build clean water projects for
						people in&nbsp;need.</p>

					<div class="phone phone-1">

						<span class="phone-screenshot-image phone-1-screenshot"></span>

					</div>

				</div>

			</div>

		</section>

	</div>


<div class="ltf-container fundraise-page" data-behavior="FundraisePage">

		<section class="section-campaigning part-3 home-section">

			<div class="skrollable skrollable-before" style="opacity: 1;"
				data-top="opacity: 1" data-center-bottom="opacity: 0">

				<h3>Starting a campaign is&nbsp;easy.</h3>

				<div class="inner">

					<span class="step-name">Step 3</span>

					<h4>See that 663 million people don’t have clean water, and

						decide to&nbsp;help.</h4>

					<p>It only takes a minute to set up a campaign. Decide what to

						do. Pick a name. Pick a photo. And just like that, you’ll be ready
						to start raising money to help build clean water projects for
						people in&nbsp;need.</p>

					<div class="phone phone-1">

						<span class="phone-screenshot-image phone-1-screenshot"></span>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>





