<!-- Header Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/app-homepage"><h3 class="brand-name">CHARITY</h3></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navmenu-link navmenu-highlight"  routerLink="/" routerLinkActive="active">OUR WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navmenu-link navmenu-highlight"  routerLink="/" routerLinkActive="active">ABOUT US</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navmenu-link" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DONATE
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item navmenu-link" href="portfolio-1-col.html">GIVE ONCE</a>
            <a class="dropdown-item navmenu-link" href="portfolio-2-col.html">GIVE MONTHKY</a>
            <a class="dropdown-item navmenu-link" href="portfolio-3-col.html">SPONSER A COMMUNITY</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navmenu-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FUNDRAISE
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item navmenu-link" href="blog-home-1.html">LEARN TO FUNDRAISE</a>
            <a class="dropdown-item navmenu-link" href="blog-home-2.html">START A CAMPAIGN</a>
            <a class="dropdown-item navmenu-link" href="blog-post.html">FIND A CAMPAIGN POST</a>
          </div>
        </li>
        <li class="nav-item navbar-item highlighted-item highlight-div">
          <a class="nav-link navmenu-link" href="contact.html">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    
    
  