<!-- Page Content -->
<div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Pledge Your Special Day</h1>
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="index.html">Home</a>
       </li>
       <li class="breadcrumb-item active">Pledge Your Special Day</li>
     </ol>	
     
	<!-- Email Content -->
	<div class="page-content">
	
		<div class="row">
		<div class="col-lg-8 mb-4">
		
			<form [formGroup] = "emailForm" (ngSubmit) = "onClickSubmit(emailForm.value)">
				
				 <div class="control-group form-group">
              <div class="controls">
                <label>Full Name:</label>
                <input type="text" class="form-control" formControlName= "fullName" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
			
				 <div class="control-group form-group">
              <div class="controls">
                <label>Occassion Date:</label>
                <input type="date" class="form-control" formControlName= "occassionDate" required data-validation-required-message="Please enter the date of your special day.">
                <p class="help-block"></p>
              </div>
            </div>	
					
					
				 <div class="control-group form-group">
              <div class="controls">
                <label>From Email:</label>
                <input type="email" class="form-control" formControlName= "fromEmail" required data-validation-required-message="Please enter your email.">
                <p class="help-block"></p>
              </div>
            </div>	
			
			
			 <div class="control-group form-group">
              <div class="controls">
              <label>Select Email Template:</label> 
						<select class="form-control" 
						formControlName = "emailMessageTemplate" (change)="changeMessageTemplate($event.target.value)"> 
						<option *ngFor="let choice of emailTemplates" value="{{choice}}">{{choice}}</option>
						</select>
					 <p class="help-block"></p>
              </div>
            </div>	
				
				<div class="control-group form-group">
              <div class="controls">
                <label>To Email:</label>
                <input type="email" class="form-control" formControlName= "toEmail" required data-validation-required-message="Please enter your To email.">
                <p class="help-block"></p>
              </div>
            </div>	
				
				
		
				<div class="control-group form-group">
              <div class="controls">
                <label>Subject:</label>
                <input type="string" class="form-control" formControlName= "emailSubject" required data-validation-required-message="Please enter your email subject.">
                <p class="help-block"></p>
              </div>
            </div>	
				
		
				<div class="control-group form-group">
              <div class="controls">
                <label>Message:</label>
                <textarea type="string" class="form-control textarea-size" formControlName= "emailMessage" required data-validation-required-message="Please enter your email message."></textarea>
                <p class="help-block"></p>
              </div>
            </div>	
            
				<mat-card>
  					<button  type = "submit" mat-raised-button> Send </button>
  					<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
				</mat-card>
				<br>
	 			<mat-card *ngIf="displayResult">
 					 <h1>{{ result }}</h1>
				</mat-card>
				<br>
	 		</form>
		</div>
	</div>
</div>



	
	
	
	
	
