
<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">
		Our Work <small></small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="index.html">Home</a></li>
		<li class="breadcrumb-item active">Services</li>
	</ol>

	<!-- Image Header -->
	<img class="img-fluid rounded mb-4" src="../assets/our-workmainpicture.jpg" alt="">

	<!-- Marketing Icons Section -->
	<div class="row">
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardblue">Card Title</h4>
				<div class="card-body card-body-bg">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Sapiente esse necessitatibus neque.</p>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardpurple">Card Title</h4>
				<div class="card-body card-body-bg">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
						commodi similique totam consectetur praesentium molestiae atque
						exercitationem ut consequuntur, sed eveniet, magni nostrum sint
						fuga.</p>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header card-text-cl cardgreen">Card Title</h4>
				<div class="card-body card-body-bg">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Sapiente esse necessitatibus neque.</p>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.row -->
	<div data-related="form-0">
		<section class="cw-text-block    ">
			<div class="donate-container">
				<div class="row">
					<div class="cw-text-block-content">
						    Save the Children are on the frontline delivering
							life-saving aid, development programs and making sure that kids
							can be kids, wherever they are. Your gift ensures we can
							positively impact children in need both now and in the future.

						<h3>You can also:</h3>

						<ul>
							<li>Make a regular donation <a
								href="/Donate/Monthlydonation">here</a></li>
							<li>Make a donation in memory of a loved one <a
								href="/Donate/Gifts-in-Memory">here</a></li>
							<li>Make a donation in celebration of a special occasion <a
								href="/Donate/Gifts-in-Celebration">here</a></li>
						</ul>

					</div>
				</div>
			</div>
		</section>
	</div>
	
</div>
<!-- /.container -->


