*, *::before, *::after {
	box-sizing: inherit;
}
.stc-form .grid-wrapper {
	max-width: 790px;
	margin: auto;
}
/* @media all and (min-width:768px) */
.donate-container {
	padding: 0 24px;
}
/* @media all and (min-width:1024px) */
.donate-container {
	padding: 0 24px;
}
/* @media all and (min-width:1248px) */
.donate-container {
	padding: 0 24px;
}


.s-donation-form.intro .donation-content {
	text-align: center;
}
.EditingFormTable {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: calc(16px + 100%);
	margin-bottom: 16px;
}
/* @media all and (min-width:768px) */
.EditingFormTable {
	width: calc(24px + 100%);
}
/* @media all and (min-width:1024px) */
.EditingFormTable {
	width: calc(24px + 100%);
}
/* @media all and (min-width:768px) */
.EditingFormTable {
	margin-bottom: 32px;
}
.stc-form .EditingFormTable {
	margin-top: 32px;
}
.stc-form :not(.full-width).submit-button-wrapper .EditingFormButtonCell {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: 32px;
}
button, input, optgroup, select, textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
.clickdform input, input {
	font-size: 1rem;
	line-height: 1.25;
	width: 100%;
	height: 56px;
	padding: 16px;
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	color: #4a4f53;
	background-color: #fff;
	transition: border-color .2s ease-in-out;
	font-family: "Gill Sans Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}
button, html [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
}
.btn {
	display: inline-block;
	padding: 11px 45px;
	line-height: 1;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	font-family: "Gill Sans Bold","HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	text-align: center;
	height: auto;
	width: auto;
	font-size: 1rem;
	line-height: 2;
}
.btn-skin-1, .btn-skin-7, .btn-primary {
	color: #fff;
	background-color: #da291c;
}
.btn-large {
	padding: 24px 60px;
	font-size: 1.25rem;
	line-height: 1.6;
}
.btn-full-width {
	width: 100%;
}
input[type='submit'].btn {
	border: none;
	cursor: pointer;
}
.EditingFormTable > div {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 4 * 6) - 16px);
	flex-basis: calc(-16px + 150%);
	max-width: calc(-16px + 150%);
	margin-right: 15.99px;
	margin-bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
/* @media all and (min-width:768px) */
.EditingFormTable > div {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 8 * 12) - 24px);
	flex-basis: calc(-24px + 150%);
	max-width: calc(-24px + 150%);
	margin-right: 23.99px;
	margin-bottom: 32px;
}
/* @media all and (min-width:768px) */
.EditingFormTable > div {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 12 * 12) - 24px);
	flex-basis: calc(-24px + 100%);
	max-width: calc(-24px + 100%);
	margin-right: 23.99px;
}
.s-donation-form.intro .donate-msg {
	display: none;
	text-align: center;
}
.s-donation-form.intro .donate-msg.has-msg {
	display: block;
}
.s-donation-form.intro .donate-frequency {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 16px;
	width: calc(16px + 100%);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.s-donation-form.intro .donate-amounts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 16px;
	width: calc(16px + 100%);
}
.s-donation-form.intro .donate-error {
	display: none;
	text-align: center;
	color: #da291c;
}
.hidden {
	display: none;
}
.s-donation-form.intro .donate-option {
	background-color: #ffffff;
	border: 1px solid 	#c0c0c0;
	padding-left: 0px;
	padding-right: 0px;
	text-transform: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 80px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.s-donation-form.intro .donate-option.selected {
	color: #fff;
	border-color:  #1e90ff;
	background-color: #1e90ff;
}
.s-donation-form.intro .donate-amounts .donate-option {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 4 * 1) - 16px);
	flex-basis: calc(-16px + 25%);
	max-width: calc(-16px + 25%);
	margin-right: 15.99px;
	font-size: 1.5rem;
	line-height: 1.3333;
	margin-bottom: 16px;
}
/* @media all and (min-width:768px) */
.s-donation-form.intro .donate-amounts .donate-option {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 6 * 1) - 16px);
	flex-basis: calc(-16px + 16.6667%);
	max-width: calc(-16px + 16.6667%);
	margin-right: 15.99px;
	margin-bottom: 0px;
}
.s-donation-form.intro .donate-amounts .donate-amount-input {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 4 * 4) - 16px);
	flex-basis: calc(-16px + 100%);
	max-width: calc(-16px + 100%);
	margin-right: 15.99px;
	position: relative;
	margin-bottom: 16px;
}
/* @media all and (min-width:768px) */
.s-donation-form.intro .donate-amounts .donate-amount-input {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 6 * 2) - 16px);
	flex-basis: calc(-16px + 33.3333%);
	max-width: calc(-16px + 33.3333%);
	margin-right: 15.99px;
	margin-right: 0px;
	margin-bottom: 0px;
}
input[type='number'] {
	-moz-appearance: textfield;
}
.s-donation-form.intro .donate-amounts .donate-amount-input input {
	padding-left: 32px;
	height: 100%;
	font-size: 1.5rem;
	line-height: 1.3333;
	line-height: 46px;
}
/* @media all and (min-width:768px) */
.s-donation-form.intro .donate-amounts .donate-amount-input input {
	font-size: 1.25rem;
	line-height: 1.2;
	line-height: 46px;
}
.s-donation-form.intro .donate-amounts .amount-icon {
	display: none;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
img {
	border-style: none;
}
.s-donation-form.intro .donate-frequency .donate-option {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 2 * 1) - 16px);
	flex-basis: calc(-16px + 50%);
	max-width: calc(-16px + 50%);
	margin-right: 15.99px;
	font-size: 1.25rem;
	line-height: 1.2;
}

.s-donation-form.intro .donation-content h2 {
	text-align: center;
	margin-bottom: 24px;
}
.s-donation-form.intro .donation-content p {
	text-align: center;
	margin-bottom: 56px;
}
.s-donation-form.intro .donation-content .donation-icon {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #009ca6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto 32px;
}

.donation-content {
	padding-top: 50px;
}

.donate-container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1248px;
	width: 100%;
	padding: 0 16px;
}
.page-content {
	background-color: #f0f0f0;
}

*, *::before, *::after {
	box-sizing: inherit;
}
.cw-text-block .cw-text-block-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 4 * 4) - 16px);
	flex-basis: calc(-16px + 100%);
	max-width: calc(-16px + 100%);
	margin-right: 15.99px;
	overflow: hidden;
	word-break: break-word;
}
/* @media all and (min-width:768px) */
.cw-text-block .cw-text-block-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 8 * 8) - 24px);
	flex-basis: calc(-24px + 100%);
	max-width: calc(-24px + 100%);
	margin-right: 23.99px;
}
/* @media all and (min-width:1024px) */
.cw-text-block .cw-text-block-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-preferred-size: calc((100% / 12 * 12) - 24px);
	flex-basis: calc(-24px + 100%);
	max-width: calc(-24px + 100%);
	margin-right: 23.99px;
}



p {
	margin-top: 0px;
	font-size: 1.5rem;
	line-height: 1.3333;
	margin-bottom: 24px;
}

.cw-text-block .cw-text-block-content h2, .cw-text-block .cw-text-block-content h3 {
	margin: 32px 0;
}

.btn-bg {
	background-color:#ffffff;
}

.donate-giveonce-bg {
	background-image: url('../../assets/giveoncemainpicture.jpg');
}

.donate-monthly-bg {
	background-image: url('../../assets/givemonthlymainpicture.jpg');
}

.sponsor-a-community-bg {
	background-image: url('../../assets/sponsoracommunity.jpg');
}

.donate-message-selected {
	color:#ffffff
}
